body {
    margin: 0;
    background-color: #e9ebee;
     color: #272727;
}


.dev {
    background-color: rgba(65, 65, 65, 0.198);
}

button, input {
    outline: none;
}
button {
    cursor: pointer;
}

/* UTIL */
.floating-box {
    background-color: white;
    border-radius: 2px;
}



.profile-image-container-thumb{
    margin-right: 13px; 
}

.profile-image-container-thumb img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  object-fit: cover;
}

textarea {
    outline: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}






